/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    background-color: #3b3b3b;
}

/* TABLE */
.table {
    border-collapse: collapse;
    border: 1px solid #000000;
    background-color: #00568f;
}

.table-newUser {
    color: #000000;
    background-color: #00568f;
    font-weight: 900;
}

.table__heading-cell {
    background-color: #00568f;
    border: 1px solid #000000;
}

.table__row {
    background-color: #858585;
}

.table__heading {
    background-color: #00568f;
    border: 1px solid #000000;
}

.table__cell {
    background-color: #cecece;
    border: 1px solid #000000;
}

.table__view-window {
    background-color: #e5ffd4;
    border: 1px solid #000000;
    width: 125px;
    height: 150px;
    padding: 15px;
}

.table__button {
    width: 100px;
    height: 25px;
    padding: 2px 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #ffbd71;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.table__button:hover {
    color: #000000;
    background-color: #ff7300;
}

.table__window {
    padding: 20px;
}

.confirm-box {
    text-align: center;
    padding: 10px;
    max-width: 376px;
    justify-content: center;
    background-color: #e5ffd4;
}

.confirm-box__cell {
    padding: 10px;
}

.confirm-box__buttons {
    width: 100px;
    height: 25px;
    padding: 2px 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #ffbd71;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.confirm-box__buttons:hover {
    background-color: #ff7300;
}

.confirm-box__buttons:not(:last-child) {
    margin-right: 20px;
}